// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  font-size: 14px;
  font-weight: normal;
}

nav{
  margin-bottom: 20px;
}

.gravatar{
  text-align: center;
  img {
    border-radius: 50%;
  }
}

footer{
  font-weight: bold;
  margin-top: 50px;
  border-top: 1px solid #eaeaea;
  img{
    margin-right: 5px;
    width: 17px;
    height: 17px;
  }

  a{
    color: #555;
    &:hover{
      color: #222;
    }
  }
}
