// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  font-size: 14px;
  font-weight: normal;
}

nav{
  margin-bottom: 20px;
}

.gravatar{
  img {
    border-radius: 50%;
  }
}

.user_info{
  text-align: center;
  img{
    border-radius: 50%;
  }
}

.stats {
  overflow: auto;
  text-align: center;
  a {
    float: left;
    width: 33%;
    color: #33383c;
    &:hover {
      text-decoration: none;
      color: #337ab7;
    }
  }
  strong {
    display: block;
  }
}
